<h1>Find your currency!</h1>

<%= form_tag (cryptos_path) do %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

  <p> <%= label_tag 'crypto', "Of which money you want to see the price?"  %> </p>
  <p> <%= select_tag :crypto, options_for_select(@crypto_names.collect{|x| x})%> 
  </p>
	<p> <%= submit_tag 'Find the current price!', class: "btn btn-primary"%></p>
  </div>
</div>

<% end %>